Host bastionNSO
  User ubuntu
  HostName 188.95.226.76
  IdentityFile ~/.ssh/id_rsa
  UserKnownHostsFile=~/dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  ForwardAgent yes

Host HAproxy
  User ubuntu
  HostName 89.42.140.222
  IdentityFile ~/.ssh/id_rsa
  UserKnownHostsFile=~/dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no

Host devA
  User ubuntu
  HostName 89.46.86.111
  StrictHostKeyChecking no
  PasswordAuthentication no
  ProxyJump bastionNSO

Host devB
  User ubuntu
  HostName 89.42.141.52
  StrictHostKeyChecking no
  PasswordAuthentication no
  ProxyJump bastionNSO

Host devC
  User ubuntu
  HostName 89.42.141.243
  StrictHostKeyChecking no
  PasswordAuthentication no
  ProxyJump bastionNSO
